# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import requests
import json
# Google developer API key
from config import gkey

# Import API key
gmaps.configure(api_key=gkey)
gkey

'AIzaSyCaUcxWsNJETg6PYN1WEDFrzNSEt3HBTno'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Study data files
weather_data_path = "Resources/WeatherPyData.csv"

# Read the weather data 
weather_metadata = pd.read_csv(weather_data_path)

# Display the data table for preview
weather_metadata.head()

,Unnamed: 0,City,Country Code,Latitude,Longitude,Temperature,Humidity,Clouds,Wind,Date
0,0,makasar,ID,-5.14,119.42,75.20,100,40,2.24,1605978888
1,1,rikitea,PF,-23.12,-134.97,72.97,63,3,3.76,1605978568
2,2,garowe,SO,8.41,48.48,82.08,27,93,12.86,1605979119
3,3,east london,ZA,-33.02,27.91,78.80,69,0,4.70,1605978546
4,4,hermanus,ZA,-34.42,19.23,64.00,83,83,4.00,1605978561

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#setting the lat & long as locations 
locations = weather_metadata[['Latitude','Longitude']]

#setting thw weights as humidity
weights = weather_metadata['Humidity'].astype(float)

humidity = weather_metadata['Humidity']

In [4]:
#heatmap
fig = gmaps.Map(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)
fig.add_layer(gmaps.heatmap_layer(locations,weights=weights, dissipating=False, max_intensity=100, point_radius=3))
fig

Map(configuration={'api_key': 'AIzaSyCaUcxWsNJETg6PYN1WEDFrzNSEt3HBTno'}, data_bounds=[(-71.17103928869686, -1â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#create new clean DF to work with
clean_weather = weather_metadata

#   * A max temperature lower than 80 degrees but higher than 70.
index_names = weather_metadata[weather_metadata['Temperature']>80].index
index_names2 = weather_metadata[weather_metadata['Temperature']<70].index
clean_weather = weather_metadata.drop(index_names, inplace = False)
clean_weather = clean_weather.drop(index_names2, inplace = False)

#   * Wind speed less than 10 mph.
index_names3 = clean_weather[clean_weather['Wind']>10].index
clean_weather = clean_weather.drop(index_names3, inplace = False)

#   * Zero cloudiness.
index_names4 = clean_weather[clean_weather['Clouds']>0].index
index_names5 = clean_weather[clean_weather['Clouds']<-1].index
clean_weather = clean_weather.drop(index_names4, inplace = False)
clean_weather = clean_weather.drop(index_names5, inplace = False)

#   * **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

clean_weather_data = clean_weather[['City','Country Code','Latitude','Longitude','Temperature','Humidity','Clouds','Wind','Date']]
clean_weather_data

,City,Country Code,Latitude,Longitude,Temperature,Humidity,Clouds,Wind,Date
3,east london,ZA,-33.02,27.91,78.80,69,0,4.70,1605978546
182,sur,OM,22.57,59.53,72.77,50,0,5.37,1605979160
280,saint-philippe,RE,-21.36,55.77,75.20,64,0,3.36,1605978594
314,sur,OM,22.57,59.53,72.77,50,0,5.37,1605979160
336,bilma,NE,18.69,12.92,70.12,26,0,5.39,1605979171
513,narasannapeta,IN,18.42,84.05,76.60,74,0,1.19,1605979219
566,saint-philippe,RE,-21.36,55.77,74.16,64,0,3.36,1605979230
584,saint-philippe,RE,-21.36,55.77,74.16,64,0,3.36,1605979230
625,saint-philippe,RE,-21.36,55.77,74.16,64,0,3.36,1605979230
646,doha,QA,25.29,51.53,78.80,65,0,6.93,1605979247
811,saint-philippe,RE,-21.36,55.77,74.16,64,0,3.36,1605979230
866,sur,OM,22.57,59.53,72.77,50,0,5.37,1605979160
907,najran,SA,17.49,44.13,71.60,30,0,4.70,1605979295
945,riyadh,SA,24.69,46.72,77.00,27,0,5.82,1605979127
988,saint-leu,RE,-21.15,55.28,74.28,64,0,3.36,1605979307
1014,keti bandar,PK,24.14,67.45,73.06,43,0,5.30,1605979312

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = clean_weather_data.loc[:,["City","Country Code", "Latitude", "Longitude"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                City Country Code  Latitude  Longitude Hotel Name
3        east london           ZA    -33.02      27.91
182              sur           OM     22.57      59.53
280   saint-philippe           RE    -21.36      55.77
314              sur           OM     22.57      59.53
336            bilma           NE     18.69      12.92
513    narasannapeta           IN     18.42      84.05
566   saint-philippe           RE    -21.36      55.77
584   saint-philippe           RE    -21.36      55.77
625   saint-philippe           RE    -21.36      55.77
646             doha           QA     25.29      51.53
811   saint-philippe           RE    -21.36      55.77
866              sur           OM     22.57      59.53
907           najran           SA     17.49      44.13
945           riyadh           SA     24.69      46.72
988        saint-leu           RE    -21.15      55.28
1014     keti bandar           PK     24.14      67.45

In [8]:
#find all the hotels in a 5000 meter radius
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : gkey}

In [10]:
#print out all of the hotel names and their city
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    print(f"Results for: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # get results
    results = response['results']
    
    try:
        print(f"Hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("Missing result... skipping.")
    print('--------------------------------')
    
print('--------------------------------')
print('Done Searching')
print('--------------------------------')

Results for: east london.
Hotel in east london is Blue Lagoon Hotel.
--------------------------------
Results for: sur.
Hotel in sur is Sur Plaza Hotel.
--------------------------------
Results for: saint-philippe.
Hotel in saint-philippe is Les Embruns Du Baril.
--------------------------------
Results for: sur.
Hotel in sur is Sur Plaza Hotel.
--------------------------------
Results for: bilma.
Missing result... skipping.
--------------------------------
Results for: narasannapeta.
Hotel in narasannapeta is SPR Grand Hotel.
--------------------------------
Results for: saint-philippe.
Hotel in saint-philippe is Les Embruns Du Baril.
--------------------------------
Results for: saint-philippe.
Hotel in saint-philippe is Les Embruns Du Baril.
--------------------------------
Results for: saint-philippe.
Hotel in saint-philippe is Les Embruns Du Baril.
--------------------------------
Results for: doha.
Hotel in doha is The Curve Hotel.
--------------------------------
Results for: saint-philippe.
Hotel in saint-philippe is Les Embruns Du Baril.
--------------------------------
Results for: sur.
Hotel in sur is Sur Plaza Hotel.
--------------------------------
Results for: najran.
Missing result... skipping.
--------------------------------
Results for: riyadh.
Hotel in riyadh is The Business Boutique Hotel.
--------------------------------
Results for: saint-leu.
Hotel in saint-leu is Iloha Seaview Hotel.
--------------------------------
Results for: keti bandar.
Missing result... skipping.
--------------------------------
--------------------------------
Done Searching
--------------------------------

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure